<form method="post" action="{{ path('app_category_delete', {'id': category.id}) }}" onsubmit="return confirm('Vous êtes sûr ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    {% if is_granted('ROLE_ADMIN') %}
    <button class="btn btn-sm btn-outline-secondary">Supprimer</button>
    {% if is_granted('ROLE_ADMIN')endif %}
</form>
